body{
    margin:0;
    padding:0;
    font-family: 'Domine', serif;
  }
  
  .margen{
    margin:100px;
  }
  

  .main_container{
    /* background: salmon; */
    display: flex;
    justify-content: center  ;
    align-items: center;
    height: 100%;
  }

  .usua_container{
   width: 80%;
   display: grid;
   gap: 10px;
   grid-template-rows: repeat(2,auto);
   grid-template-columns: 1fr;
   grid-template-areas: 'usua_titulo'
                        'usua_contenido';

  }
  .usua_titulo{
    grid-area: usua_titulo;
    /* background: rgb(38, 70, 131); */
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    /* color: #fff; */
    padding-left: 10px;
    ;
  }
  .usua_contenido{
    grid-area: usua_contenido;

  }

  .usua_tabla{
    width:100%;
    height: 420px;
    text-align: left;
    /* background: rgb(182, 128, 128); */
    border-radius: 5px;
  }

  .titulo_tabla{
    background: rgb(184, 208, 236);
    border-radius: 5px;
    font-family: 'Cinzel', serif;
  }
  
  .titulo_tabla th{
    border-radius: 5px;
    padding: 10px;
  }


.ver_usuarios_titulo{
  text-align: center;
}
  
  
  .usua_tabla td{
    padding-top:10px;
    padding-bottom: 9px;
    
  }
  
  .ver_usuarios{
    display: flex;
    justify-content: center;
  }
  
  #menu{
    background-color: rgb(32, 38, 51);
    padding: 20px;
    font-size: 20px;
  
  }
  
  #menu a{
    color: white;
    padding-right: 50px;
    text-decoration: none;
  
  }


.publi_container{

width: 80%;

display: grid;
gap: 10px;
grid-template-rows: repeat(2,auto);
grid-template-columns: 1fr;
grid-template-areas: 'publi_usua_name'
                     'publis_usua';

}

.publi_usua_name{
grid-area: publi_usua_name;
font-family: 'Cinzel', serif;
}

.publis_usua{
  grid-area: publis_usua;
  /* background: rgb(230, 240, 250); */
  border-radius: 8px;
}




  .center{
      text-align: center;
  }

  .rojo{
    color:rgb(228, 22, 22);
  }


  .pub_header{

    border-bottom: 0.5px solid rgb(23, 66, 116);
    box-shadow: rgb(151, 153, 156);
    cursor: pointer;
    background:  rgb(237, 243, 248);
    border-radius: 8px;
  }

  .pub_title{
    font-family: 'Cinzel', serif;
    padding: 10px 10px 0 10px ;
  }

  .pub_body{
    padding: 0px 10px 0 10px ;
    

  }

  .coments_cerrado{
    font-size: 0.8rem;
    padding-left: 5px;
    display: flex;
    justify-content:left;
  }

  .coments_container{
    width: 99.5%;
     background: rgb(255, 255, 255); 
    border-radius: 8px;
    border-bottom: 0.4px solid rgb(23, 66, 116);
  }
  
  .coments_container h2{
    margin-left: 10px;
    font-size: 1rem;
    font-family: 'Cinzel', serif;
   
  }


  li{
    margin: 20px 0 20px 0;
  }


  .contenedor_tareas{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .m_left{
    margin-left: 20px;
  }